name: Build, Export and Release VirtualBox Image

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install VirtualBox
        run: |
          sudo apt-get update
          sudo apt-get install -y virtualbox
      - name: Add HashiCorp repository
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update
      - name: Install Vagrant
        run: |
          sudo apt-get install -y vagrant
      - name: Verify installations
        run: |
          vagrant --version
          VBoxManage --version
      - name: Start Vagrant VM
        run: |
          cd alpine
          vagrant up --provider virtualbox
      - name: Cleanup VM before export
        run: |
          cd alpine
          cat ./cleanup_vm.sh | vagrant ssh -c "sudo bash -s"
      - name: Wait for VM to shutdown
        run: |
          echo "Waiting for VM to power off..."
          while [ "$(VBoxManage showvminfo pfichtner-freetzng-buildsystem --machinereadable | grep ^VMState=)" != 'VMState="poweroff"' ]; do
            echo "VM is still running..."
            sleep 2
          done
          echo "VM is powered off."
      - name: Export VM to OVA
        run: |
          cd alpine
          mkdir -p ovaexport
          VBoxManage export pfichtner-freetzng-buildsystem -o ovaexport/pfichtner-freetzng-buildsystem.ova
      - name: Destroy VM
        run: |
          cd alpine
          vagrant destroy -f

      - name: Release OVA
        uses: ncipollo/release-action@v1
        with:
          artifacts: "alpine/ovaexport/pfichtner-freetzng-buildsystem.ova"
