name: Build, Export and Release VirtualBox Image

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install VirtualBox + Vagrant + Packer
        run: |
          sudo apt-get update
          sudo apt-get install -y virtualbox vagrant packer
      - name: Verify installations
        run: |
          vagrant --version
          VBoxManage --version
          packer --version
      - name: Export Vagrant VM directly to OVA with Packer
        run: |
          cd alpine
          packer init .
          packer build \
            -var 'vm_name=pfichtner-freetzng-buildsystem' \
            -var 'output_directory=ovaexport' \
            vagrantbox2ova.json
      - name: Release OVA
        uses: ncipollo/release-action@v1
        with:
          artifacts: "alpine/ovaexport/pfichtner-freetzng-buildsystem.ova"
